:root {
    --color-accent: oklch(62.793% 0.25768 29.223);
}

html {
  accent-color: var(--color-accent);
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;

  /* Step 1: prevent content from getting too wide & center it */
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 2em;
  border-bottom: 1px solid oklch(80% 3% 200);
} 
  
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em; 
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: oklch(from var(--color-accent) 95% 5% h);
}